<%- include('../includes/head.ejs') %>
<%- include('../includes/title.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="bubble">
    <form action="/new-password" method="post">
        <input class="hidden" name="_csrf" value="<%= csrfToken %>">
        <input class="hidden" name="userId" value="<%= userId %>">
        <div class="segment">
            <label for="email">Geben Sie hier Ihr neues Passwort ein:</label>
            <input type="password" name="newpassword" id="newpassword" required autofocus autocomplete="new-password">
        </div>
        <button class="button" type="submit">Passwort speichern</button>
    </form>
</div>
<%- include('../includes/end.ejs') %>
