<%- include('../includes/head.ejs') %>
<%- include('../includes/title.ejs') %>
<%- include('../includes/nav.ejs') %>

<form action="/register" method="post" novalidate>
    <input class="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="bubble">
    <div class="segment">
        <label for="firstname">Vorname:</label><br>
        <input type="text" id="firstname" name="firstname" placeholder="<%= firstname ? firstname : "" %>" required autocomplete="given-name" autofocus>
    </div>
    <div class="segment">
        <label for="lastname">Nachname:</label><br>
        <input type="text" id="lastname" name="lastname" placeholder="<%= lastname ? lastname : "" %>" required autocomplete="family-name">
    </div>
    <div class="segment">
        <label for="email">E-Mail:</label><br>
        <input type="email" id="email" name="email" placeholder="<%= email ? email : "" %>" required autocomplete="email">
        <% if (emailTaken) { %>
        <div class="msg msg--error">Diese E-Mail ist schon registriert.</div>
        <% } else if (emailValidationError) { %>
        <div class="msg msg--error">Bitte gib eine gültige E-Mail Adresse ein.</div>
        <%}%>
    </div>
    <div class="segment">
        <div class="info-overlay hidden" id="info-overlay">Das Passwort muss aus mindestens 8 Zeichen bestehen, muss,
            Groß- und Kleinbuchstaben, sowie eine Zahl und ein Sonderzeichen (z.B. "/", "-" oder "_") enthalten.</div>
        <label for="password">Passwort:  </label><div class="material-symbols-outlined info" id="pw-help">help</div><br>
        <input type="password" id="password" name="password" required autocomplete="new-password">
    </div>
    </div>
    <button class="button" type="submit">abschicken</button>
</form>

</section>
<script>
</script>
<%- include('../includes/end.ejs') %>