<section class="main">
    <div class="header">
        <div class="logo"><a href="/home" class="logo"><img src="img/icons8-coffee-67.png"></a></div>
        <div class="title"><h1 class="title">Café Sedanstraße</h1></div>
        <div class="menu-btn"><span class="material-symbols-outlined">menu</span></div>
        <div class="menu hidden">
            <ul>
                <li class="<%= session.isLoggedIn ? "hidden" : "" %>"><a href="/login"><span class="material-symbols-outlined">login</span> | Login</a></li>
                <li class="<%= session.isLoggedIn ? "hidden" : "" %>"><a href="/register"><span class="material-symbols-outlined">assignment</span> | Registrierung</a></li>
                <li class="<%= session.isLoggedIn ? "" : "hidden" %>"><a href="/home"><span class="material-symbols-outlined">coffee</span> | Kaffee eintragen</a></li>
                <li class="<%= session.isLoggedIn ? "" : "hidden" %>"><a href="/status"><span class="material-symbols-outlined">grouped_bar_chart</span> | Statusseite</a></li>
                <li class="<%= session.isLoggedIn ? "" : "hidden" %>"><a href="/purchase"><span class="material-symbols-outlined">shopping_cart_checkout</span> | Einkauf hinzufügen</a></li>
                <li class="<%= session.isLoggedIn ? "" : "hidden" %>"><a href="/account"><span class="material-symbols-outlined">account_circle</span> | Account</a></li>
                <li class="<%= session.isAdmin ? "" : "hidden" %>"><a href="/admin"><span class="material-symbols-outlined">admin_panel_settings</span> | Administration</a></li>
                <% if (session.isLoggedIn) { %>
                    <form action="/logout" method="post">
                        <input class="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="button" type="submit">Log Out</button>
                    </form>
                <% } %>
            </ul>
        </div>
    </div>
    <hr>
