<%- include('includes/head.ejs') %>

        <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/slider.css">

<%- include('includes/title.ejs') %>

    <%- include('includes/nav.ejs') %>

<% if (session.user.paymentPending) { %>
    <div class="notification-container hidden">
        <div class="notification">
            <div class="notification-header">
                <p class="notification-title">NEUE EVALUATION</p>
                <img class="notification-close-icon" src="{% static 'icons/close.svg' %}" alt="close icon">
            </div>
            <p class="notification-description">Es wurde eine E-Mail an <b class="notification-mail"></b>
                versendet, mit dem Link zur Statusseite. Auf der Statusseite können Sie die Umfrage verwalten und den
                aktuellen Stand der Umfrage einsehen.</p>
        </div>
    </div>

    <script>
      let notificationContainer = document.querySelector(".notification-container");
      let closeIconNotificationContainer = document.querySelector(".notification-close-icon");

      function turnOffMessage() {
        notificationContainer.style.display = 'none';
      }

      closeIconNotificationContainer.addEventListener("click", () => {
        turnOffMessage();
      });

      setTimeout(turnOffMessage, 200000)
    </script>

<% } %>

<div class="bubble">
    <p>Hallo <%= session.user.firstname %>!</p>
    <p>Wie viel Kaffee hast du heute getrunken?</p>
</div>
    <form action="/add-coffee" method="post">
        <input class="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="coffee" id="coffe-amount">0</label>
        <br>
        <input type="range" id="coffee-slider" name="coffee" min="0" max="10" value="0">
        <br>
        <input type="checkbox" id="milk" name="milk">
        <label for="milk">mit Milch</label>
        <br>
        <button id="coffee-btn" type="submit" class="button disabled" disabled>abschicken</button>
    </form>
<script src="/js/coffeecounter.js"></script>
<%- include('includes/end.ejs') %>
