<%- include('includes/functions.ejs') %>

<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/badges.css">
<link rel="stylesheet" href="/css/notification.css">

<%- include('includes/title.ejs') %>

<%- include('includes/nav.ejs') %>

<% if (paymentPending) { %>
    <div class="notification-container hidden">
        <div class="notification-header">
            <p class="notification-title">Neue Abrechnung!</p>
            <p class="notification-close-icon"><span class="material-symbols-outlined">close</span></p>
        </div>
        <p class="notification-description">
            Datum: <strong><%= new Intl.DateTimeFormat("de-DE").format(payments.date) %></strong>
            <br>
            Betrag: <strong><%= formatCurrency(payments.amount) %>&euro;</strong>
        </p>
        <p class="notification-description">
            Bezahle per <strong>PayPal</strong>: <strong><a class="dark" href="<%= process.env.PAYPAL_LINK %>" target="_blank">klicke hier!</a></strong>
        </p>
        <p class="notification-description">
            Oder überweise an:<br>
            Kontoinhaber: <strong><%= process.env.ACOUNTEE %></strong><br>
            IBAN: <strong><%= process.env.IBAN %></strong><br>
            BIC: <strong><%= process.env.BIC %></strong>
        </p>
        <p class="notification-description dark">
            Hast du schon bezahlt? Ignoriere diese Nachricht. Es dauert etwas, bis die Admins deine Zahlung eingetragen haben. 😇
        </p>
    </div>

    <div class="notification">
        <div class="notification-banner">
            <p class="notification-title">
                Neue Abrechnung erhalten <span class="material-symbols-outlined">exclamation</span>
            </p>
        </div>
        <div class="notification-marker">
            <span class="material-symbols-outlined">exclamation</span>
        </div>
    </div>

    <script>
      const notificationContainer = document.querySelector(".notification-container");
      const closeIconNotificationContainer = document.querySelector(".notification-close-icon");
      const openExclamationMark = document.querySelector(".notification");
      const notificationBanner = document.querySelector(".notification-banner");
      const notificationMarker = document.querySelector(".notification-marker");

      function turnOffMessage(instance) {
        instance.classList.remove('slidein');
        instance.classList.add('hidden');
      }

      function turnOnMessage(instance) {
        instance.classList.remove('hidden');
        instance.classList.add('slidein');
      }

      function shrinkMessage() {
        notificationBanner.classList.add("hidden");
        openExclamationMark.classList.add("shrink");
        notificationMarker.classList.add("appear");
      }

      closeIconNotificationContainer.addEventListener("click", () => {
        turnOffMessage(notificationContainer);
      });

      openExclamationMark.addEventListener("click", () => {
        turnOnMessage(notificationContainer);
      })

      setTimeout(shrinkMessage, 1000);

    </script>

<% } %>

<div class="flex-wrapper">
        <div class="vertical-container">
            <div class="upper">
                <%= cups %>
            </div>
            <div class="lower">
                <span class="material-symbols-outlined">coffee</span>
            </div>
        </div>
        <div class="vertical-container">
            <div class="upper">
                <%= balance %>
            </div>
            <div class="lower">
                <span class="material-symbols-outlined">euro_symbol</span>
            </div>
        </div>
    </div>
<div class="segment"><p></p></div>
<div class="bubble">
    <p>Seit deiner letzten Abrechnung hast du <span class="count"><%= cups %></span> <em>Tassen</em> Kaffee
        getrunken. Dein aktueller Saldo liegt bei <span class="count"><%= balance %></span> <em>Euro</em>. </p>
</div>

<%- include('includes/end.ejs') %>